.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  background-color: #00d8ff;
  color: black;
}
